### tuple fuctions
- In tuple we have any element in structure, **elements** are *int, float, boolean, str*

In [3481]:
tup1= (2024, "Tesla", "electriccar", "electriccar", True, 3)
tup1

(2024, 'Tesla', 'electriccar', 'electriccar', True, 3)

In [3482]:
type(tup1)

tuple

In [3483]:
len(tup1)

6

In [3484]:
tup1[0:6]

(2024, 'Tesla', 'electriccar', 'electriccar', True, 3)

In [3485]:
tup2= (1, 2025)
tup2

(1, 2025)

In [3486]:
type(tup2)

tuple

**concatenation and repitition function is on tuple, not individual elements like int,str,bool,float. Therefore
the type of variable is important**

In [3488]:
tup1 + tup2

(2024, 'Tesla', 'electriccar', 'electriccar', True, 3, 1, 2025)

In [3489]:
tup1+tup2*2

(2024, 'Tesla', 'electriccar', 'electriccar', True, 3, 1, 2025, 1, 2025)

In [3490]:
#tuple count function - The count() method returns the number of times the specified element appears in the tuple 
tup1.count("electriccar")

2

In [3491]:
# tuple index function - The index() method returns the index of the specified element in the tuple.
tup1.index("Tesla")

1

### List fuctions
- In list we have any element in structure, **elements** are *int, float, boolean, str*

In [3493]:
list1= ["Volkswagen", "Audi", "Audi", "BMW", "Mercedes", "Tesla", 2024, False]
list1

['Volkswagen', 'Audi', 'Audi', 'BMW', 'Mercedes', 'Tesla', 2024, False]

In [3494]:
type(list1)

list

In [3495]:
len(list1)

8

In [3496]:
list1[0:8]

['Volkswagen', 'Audi', 'Audi', 'BMW', 'Mercedes', 'Tesla', 2024, False]

In [3497]:
#The append() method adds an item to the end of the list.
list1.append("Cars")
list1

['Volkswagen', 'Audi', 'Audi', 'BMW', 'Mercedes', 'Tesla', 2024, False, 'Cars']

In [3498]:
#The copy() method returns a shallow copy of the list.
copy_list1 = list1.copy()
copy_list1

['Volkswagen', 'Audi', 'Audi', 'BMW', 'Mercedes', 'Tesla', 2024, False, 'Cars']

In [3499]:
#The count() method returns the number of times the specified element appears in the list.
list1.count("Audi")

2

In [3500]:
name= ("Arslan", "Haroon")
name

('Arslan', 'Haroon')

In [3501]:
type(name)

tuple

In [3502]:
#The extend() method adds all the items of the specified iterable, such as list, tuple, dictionary, or string , to the end of a list.
list1.extend(name)
list1

['Volkswagen',
 'Audi',
 'Audi',
 'BMW',
 'Mercedes',
 'Tesla',
 2024,
 False,
 'Cars',
 'Arslan',
 'Haroon']

In [3503]:
#The index() method returns the index of the specified element in the list.
list1.index("Arslan")
#list1.index(2024)
# list1.index(False)

9

In [3504]:
#The insert() method inserts an element to the list at the specified index. added mr at index number 9
list1.insert(9, "Mr")
list1

['Volkswagen',
 'Audi',
 'Audi',
 'BMW',
 'Mercedes',
 'Tesla',
 2024,
 False,
 'Cars',
 'Mr',
 'Arslan',
 'Haroon']

In [3505]:
#The list pop() method removes the item at the specified index. The method also returns the removed item. Mr at index 9 is removed
list1.pop(9)
list1

['Volkswagen',
 'Audi',
 'Audi',
 'BMW',
 'Mercedes',
 'Tesla',
 2024,
 False,
 'Cars',
 'Arslan',
 'Haroon']

In [3506]:
#The remove() method removes the first matching element (which is passed as an argument) from the list.
list1.remove("Audi")
list1

['Volkswagen',
 'Audi',
 'BMW',
 'Mercedes',
 'Tesla',
 2024,
 False,
 'Cars',
 'Arslan',
 'Haroon']

In [3507]:
#The reverse() method reverses the elements of the list.
list1.reverse()
list1

['Haroon',
 'Arslan',
 'Cars',
 False,
 2024,
 'Tesla',
 'Mercedes',
 'BMW',
 'Audi',
 'Volkswagen']

In [3508]:
list2= [110, 250, 20, 100, 350, 35]
list2

[110, 250, 20, 100, 350, 35]

In [3509]:
#The list's sort() method sorts the elements of a list.
list2.sort()
list2

[20, 35, 100, 110, 250, 350]

In [3510]:
#The clear() method removes all items from the list.
list2.clear()
list2

[]

### Dictionaries fuctions
- In dict we have **"keys":values** in structure,

In [3512]:
dict1= {"volkswagen":2024, "Audi":2015, "BMW":2018, "Mercedez":2021}
dict1

{'volkswagen': 2024, 'Audi': 2015, 'BMW': 2018, 'Mercedez': 2021}

In [3513]:
len(dict1)

4

In [3514]:
type(dict1)

dict

In [3515]:
#The keys() method extracts the keys of the dictionary and returns the list of keys as a view object.
dict1.keys()

dict_keys(['volkswagen', 'Audi', 'BMW', 'Mercedez'])

In [3516]:
#The values() method returns a view object that displays a list of all the values in the dictionary.
dict1.values()

dict_values([2024, 2015, 2018, 2021])

In [3517]:
#They copy() method returns a copy (shallow copy) of the dictionary.
copy_dict1=dict1.copy()
copy_dict1

{'volkswagen': 2024, 'Audi': 2015, 'BMW': 2018, 'Mercedez': 2021}

In [3518]:
#The fromkeys() method creates a dictionary from the given sequence of keys and values.
material={"cement", "paint", "gypsum plates"}
material

{'cement', 'gypsum plates', 'paint'}

In [3519]:
type(material)

set

In [3520]:
material_cost= 5
material_cost

5

In [3521]:
dict2=dict.fromkeys(material, material_cost)
dict2

{'gypsum plates': 5, 'cement': 5, 'paint': 5}

In [3522]:
#The get() method returns the value of the specified key in the dictionary.
dict1.get("volkswagen")

2024

In [3523]:
#The items() method returns a view object that displays a list of dictionary's (key, value) tuple pairs.
dict1.items()

dict_items([('volkswagen', 2024), ('Audi', 2015), ('BMW', 2018), ('Mercedez', 2021)])

In [3524]:
#The pop() method removes and returns an element from a dictionary having the given key.
dict1.pop("BMW")

2018

In [3525]:
#The popitem() doesn't take any parameters.The popitem() method removes and returns the (key, value) pair from
#the dictionary in the Last In, First Out (LIFO) order. 
#- Returns the latest inserted element (key,value) pair from the dictionary. 
#- Removes the returned element pair from the dictionary.
dict1.popitem()

('Mercedez', 2021)

In [3526]:
#How setdefault() works when key is in the dictionary?
dict1.setdefault("Audi")

2015

In [3527]:
#How setdefault() works when key is not in the dictionary?

In [3528]:
#The update() method updates the dictionary with the elements from another dictionary object or from an iterable of key/value pairs.
#method of concatenate in dictionaries
dict1.update(dict2)
dict1

{'volkswagen': 2024, 'Audi': 2015, 'gypsum plates': 5, 'cement': 5, 'paint': 5}

In [3529]:
dict1.update(dict2)
dict1

{'volkswagen': 2024, 'Audi': 2015, 'gypsum plates': 5, 'cement': 5, 'paint': 5}

In [3530]:
dict1.clear()
dict1

{}

### Set fuctions
- In set we have any element in structure, **elements** are *int, float, str* **boolean not printed**

In [3532]:
s1= {2024, "iphone", "samsung", "huawei", 22.5, False}
s1

{2024, 22.5, False, 'huawei', 'iphone', 'samsung'}

In [3533]:
type(s1)

set

In [3534]:
len(s1)

6

In [3535]:
#The add() method adds a given element to a set. If the element is already present, it doesn't add any element. "no duplication"
s1.add("battery")
s1

{2024, 22.5, False, 'battery', 'huawei', 'iphone', 'samsung'}

In [3536]:
#The remove() method removes the specified element from the set.
s1.remove(False)
s1

{2024, 22.5, 'battery', 'huawei', 'iphone', 'samsung'}

In [3537]:
#The copy() method returns a copy of the set.
copy_set = s1.copy()
copy_set

{2024, 22.5, 'battery', 'huawei', 'iphone', 'samsung'}

In [3538]:
#The difference() method computes the difference of two sets and returns items that are unique to the first set.
s1

{2024, 22.5, 'battery', 'huawei', 'iphone', 'samsung'}

In [3539]:
s2 ={2025, "iphone", "samsung", "huawei", 23.5, False}
s2

{2025, 23.5, False, 'huawei', 'iphone', 'samsung'}

In [3540]:
s1.difference(s2)

{2024, 22.5, 'battery'}

In [3541]:
s1

{2024, 22.5, 'battery', 'huawei', 'iphone', 'samsung'}

In [3542]:
#The difference_update() method computes the difference between two sets (A - B) and updates set A with the resulting set.
s1.difference_update(s2)
s1

{2024, 22.5, 'battery'}

In [3543]:
#The discard() method removes the specified item from the set.
s1.discard("battery")
s1

{22.5, 2024}

In [3544]:
#The intersection() method returns a new set with elements that are common to all sets.
s3= {2024, "iphone", "samsung", "huawei", 22.5, False}
s3

{2024, 22.5, False, 'huawei', 'iphone', 'samsung'}

In [3545]:
s2

{2025, 23.5, False, 'huawei', 'iphone', 'samsung'}

In [3546]:
s2.intersection(s3)

{False, 'huawei', 'iphone', 'samsung'}

In [3547]:
s2

{2025, 23.5, False, 'huawei', 'iphone', 'samsung'}

In [3548]:
#The intersection_update() finds the intersection of different sets and updates it to the set that calls the method.
s2.intersection_update(s3)
s2

{False, 'huawei', 'iphone', 'samsung'}

In [3549]:
s2

{False, 'huawei', 'iphone', 'samsung'}

In [3550]:
#The isdisjoint() method returns True if two sets don't have any common items between them, i.e. they are disjoint. Else the returns False.
s1.isdisjoint(s2)

True

In [3551]:
#The issubset() method returns True if set A is the subset of B, i.e. if all the elements of set A are present in set B . Else, it returns False.
s2.issubset(s3)

True

In [3635]:
#The pop() method removes an item from a set and returns the removed item.
s2.pop()

'iphone'

In [3553]:
s2

{'huawei', 'iphone', 'samsung'}

In [3554]:
s3

{2024, 22.5, False, 'huawei', 'iphone', 'samsung'}

In [3555]:
#The symmetric_difference() method returns all the items present in given sets, except the items in their intersections.
s2.symmetric_difference(s3)

{False, 22.5, 2024}

In [3556]:
#The symmetric_difference_update() method finds the symmetric difference of two sets
#(non-similar items of both sets) and updates it to the set that calls the method.
s2.symmetric_difference_update(s3)
s2

{False, 22.5, 2024}

In [3557]:
s2

{False, 22.5, 2024}

In [3558]:
#The Python set union() method returns a new set with distinct elements from all the sets.
s2.union(s3)

{2024, 22.5, False, 'huawei', 'iphone', 'samsung'}

In [3559]:
#The Python set update() method updates the set, adding items from other iterables. concatenates
s2.update(s3)
s2

{2024, 22.5, False, 'huawei', 'iphone', 'samsung'}